ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: center;
}

#login h2{
    color: black;
}

#logoutForm {
    margin-bottom: 25px;
}

.textbox{
    width:200px;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }

table {
width:50%;
border: medium solid #000000;
text-align:center;
margin-left:auto;
margin-right:auto;
}
td, th {

border:double #6495ed;
width: auto;
}
header{
color: black;
}
.h3container{
    background-image:linear-gradient(#3ebdff, #6495ed);
    padding: 10px;
    
    /*margin-top: 15px;*/
}

.h3container h3{
    font-family:'Monotype Corsiva';
    font-size:72px;
    color:white;
    margin-bottom: 0;
    margin-top: 0;
}
.h3container h2{
    font-family:'Monotype Corsiva';
    font-size:36px;
    color:white;
    margin-bottom: 0;
    margin-top: 0;
}
body {
 font-family:"trebuchet ms",sans-serif;
 font-size:90%;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
 }
form {
 background-color:#FAFAFA;
 padding:10px;
 width:auto;
 margin-left:auto;
 margin-right:auto;
 }
/*fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #DF3F3F;
 margin-left:auto;
 margin-right:auto;
 }
legend {
 color:#DF3F3F;
 font-weight:bold
 }*/
label {
 margin-top:10px;
 display:block;
 color: #000000;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea, select, option {
 background-color: #ebf2fc;/*#FFF3F3;*/
 color:#333;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #6495ED;
 border-radius:0px;
 /*width:200px;*/
 /*box-shadow:1px 1px 2px #C0C0C0 inset;*/
 margin-left:auto;
 margin-right:auto;
 }
select {
 margin-top:10px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
input[type=submit], input[type=reset] {
 width:100px;
 margin-left:5px;
 /*box-shadow:1px 1px 1px #D83F3D;*/
 cursor:pointer;
 }

#map_canvas {
    background-color: #fff;
    height: 600px;
    margin: auto;
}


#DetailsEvent{
    width:500px;
    height:500px;
}

#DivTinyMCE{
    width:600px;
    margin: auto;
}

#editor-field{
    margin-left:auto;
    margin-right:auto;
}
.list-event-container{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow-y: scroll;
}
.list-event {
    padding: 10px 0;
}
.list-event li{
    padding:5px;
    font-size: 15px;
}
.list-event li:hover {
    background: #ebf2fc;
}

p{
    color:black;
}
div .row{
    cursor:pointer;
}

.BjrUser{
    float:left;
}

.DecoUser{
    float:right;
}

label #eventEnCours{
    color:#ff0000;
    font-size:20px;
    font-family:'Lucida Console';
}

.btnFB{
    background-image:url("/Images/facebook-icon.png");
    height: 40px;
    width: 40px;
}

.btnTw{
    background-image:url("/Images/twitter-icon.png");
    height: 40px;
    width: 40px;
}

.btnGp{
    background-image:url("/Images/googleplus-icon.jpg");
    height: 40px;
    width: 40px;
}

.head-top{
    width:1300px;
    height:40px;
    margin:auto;
}
.formSocial{
    width:200px;
    height:40px;
    float:left;
}
.formConnection{
    width:1100px;
    height:40px;
    float:left;
}

.container p{
    padding:15px;
    color:#333;
    font-family:'Monotype Corsiva';
    font-size:20px;
}

.manageCompte{
    width:auto;
    margin:15px;
    height:auto;
    margin-top: 50px;
}

.manageEvent{
    width:50%;
    float:left;
    text-align:left;
}

    .manageEvent table, .manageEvent a{
        margin:15px;
    }
    /*.manageEvent a{
        margin:15px;
    }*/
.manageInfo{
    width:50%;
    float:left;
    text-align:left;
}
.manageInfo table {
        margin:15px;
    }